<p>Hello {{loggedInUser.userName}}</p>
<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto rounded bg-gray-50 py-6 px-6 dark:bg-gray-800">
    <a href="/profile" class="mb-5 flex items-center pl-2.5">
      <img
        src="/images/Default-Avatar.svg"
        class="mr-3 h-6 sm:h-7 w-[2rem]"
        alt="Flowbite Logo"
      />
      <span
        class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
      >Mr White</span>
    </a>
    <ul class="space-y-2">
      {{!-- <li>
        <a
          href="/"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
          <i class="fa-sharp fa-solid fa-bug"></i>
          <span class="ml-3">Welcome to DwiDDer</span>
        </a>
      </li>
      <li> --}}
        <a
          href="/"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
          <img class="w-[1.5rem]" src="/images/flat-color-icons_home.svg" alt="" srcset="">
          <span class="ml-3 flex-1 whitespace-nowrap">Home</span>
        </a>
      </li>
      <li>
        <a
          href="/search"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
        <img class="w-[1.3rem]" src="/images/emojione-v1_telescope.svg" alt="" srcset="">

          <span class="ml-3 flex-1 whitespace-nowrap">Search</span>
        
        </a>
      </li>
      <li>
        <a
          href="/notifications"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
        <img class="w-[1.5rem]" src="/images/Notifications.svg" alt="" srcset="">
          <span class="ml-3 flex-1 whitespace-nowrap">Notifications</span>
        </a>
      </li>
      <li>
        <a
          href="/messages"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
        <img class="w-[1.5rem]" src="/images/messages.svg" alt="" srcset="">

          <span class="ml-3 flex-1 whitespace-nowrap">Messages</span>
        </a>
      </li>
      <li>
        <a
          href="/profile"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
        <img class="w-[1.6rem]"src="/images/Profile-Logo.svg" alt="" srcset="">

          <span class="ml-3 flex-1 whitespace-nowrap">Profile settings</span>
        </a>
      </li>
      <li>
        <a
          href="/auth/logout"
          class="flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:text-blue-900 hover:font-semibold dark:text-white dark:hover:bg-gray-700"
        >
         
         <img class="w-[1.5rem]"src="/images/SignOut.svg" alt="" srcset="">

          <span class="ml-3 flex-1 whitespace-nowrap">Sign out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>