<h1 class=" font-mono font-extralight text-xs">{{appTitle}} 🚀</h1>
<p class="text-[#1d4d1d] font-mono font-extrabold text-4xl text-center" >DwiDDer dedicated for Developers!</p>
<img class=" absolute w-[35rem] top-[20%] left-[35%] " src="/images/logos_google-developers.svg" alt="">