<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>{{appTitle}}</title>
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="https://kit.fontawesome.com/2453eb7729.js" crossorigin="anonymous"></script>

   {{!--
   <link rel="stylesheet" href="/stylesheets/tailwind.css" /> --}}
   {{!--
   <link rel="stylesheet" href="/stylesheets/styles.css" /> --}}
</head>

<body class=" bg-gray-50 ">
   <nav
      class="relative w-full flex flex-wrap items-center justify-between py-3  bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light"
      
      <li class="p-2 list-none" id="to-left">
         <p><a class="text-l hover:text-red-100 text-white pr-2 font-semibold" href="/"> Home </a></p>
      </li>
      {{!-- <li class="p-2 list-none" id="to-right">
         <a class="text-l hover:text-red-100 text-white pr-2 font-semibold" href="/signup">Signup</a>
         
      </li> --}}
      <li class="nav-item p-3 list-none" id="to-right">
         <a class="text-l hover:text-red-100 text-white pr-2 font-semibold" href="/auth/signin">SignIn</a>
         
      </li>
      {{!-- <li class="nav-item p-2 list-none" id="to-right">
         <a class="text-l hover:text-red-100 text-white pr-2 font-semibold" href="/logout">Logout</a>
         
      </li> --}}
      </ul>
   </nav>
   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>